[submodule "imp_core"]
	path = imp_core
	url = https://github.com/Buttsgroup/imp_core.git
	branch = fchl
[submodule "mol_translator"]
	path = mol_translator
	url = https://github.com/Buttsgroup/mol_translator.git
	branch = web_stable
